<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-lg-3 col-xl-2">
            <a
              class="btn btn-primary mb-3 mb-lg-0"
              (click)="triggerModal(editModalData, undefined, 'create')"
              ><i class="bx bxs-plus-square"></i>New Brand</a
            >
          </div>
          <div class="col-lg-9 col-xl-10">
            <form class="float-lg-end">
              <div class="row row-cols-lg-auto g-2">
                <div class="col-12">
                  <div class="position-relative">
                    <input
                      class="form-control ps-5"
                      [(ngModel)]="searchText"
                      (ngModelChange)="onChangeSearch()"
                      type="text"
                      placeholder="Search by name ..."
                    />
                    <span
                      class="
                        position-absolute
                        top-50
                        product-show
                        translate-middle-y
                      "
                      ><i class="bx bx-search"></i
                    ></span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <table class="table mb-0 table-hover text-center align-middle">
      <thead class="table-secondary">
        <tr>
          <th scope="col" style="width: 5%">ID</th>
          <th scope="col" style="width: 20%" sortable="name">Name</th>
          <th scope="col" style="width: 20%">Image</th>
          <th scope="col" style="width: 20%">Description</th>
          <th scope="col" style="width: 10%">Updated at</th>
          <th scope="col" style="width: 20%">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="!isLoading; else loading">
        <tr
          *ngFor="
            let brand of filteredBrands
              | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
          "
        >
          <th class="align-middle" scope="row">{{ brand.id }}</th>
          <td class="align-middle">{{ brand.name }}</td>
          <td class="align-middle">{{ brand.image }}</td>
          <td class="align-middle">{{ brand.description }}</td>
          <td class="align-middle">
            {{ brand.updated_at | timeago }}
          </td>
          <td class="align-middle">
            <a
              class="btn btn-sm btn-success me-1"
              (click)="triggerModal(editModalData, brand, 'update')"
              >Edit</a
            >
            <a
              class="btn btn-sm btn-danger"
              (click)="triggerModal(deleteModalData, brand, 'delete')"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
      <ng-template #loading>
        <tbody class="mt-5">
          <tr>
            <td class="align-middle fs-1" colspan="6">Loading ...</td>
          </tr>
        </tbody></ng-template
      >
    </table>

    <br />

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [(page)]="page"
        [collectionSize]="collectionSize"
        [pageSize]="pageSize"
      ></ngb-pagination>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<ng-template #editModalData let-modal>
  <div class="modal-header">
    <h4 id="modal-basic-title" class="modal-title">Create New Brand</h4>
  </div>
  <div class="modal-body">
    <form class="row g-3" [formGroup]="brandForm">
      <div class="col-md-12">
        <label class="form-label" for="name">Name</label>
        <input
          id="name"
          class="form-control"
          type="text"
          formControlName="name"
          [class.is-invalid]="
            this.brandForm.get('name')?.invalid &&
            (this.brandForm.get('name')?.dirty ||
              this.brandForm.get('name')?.touched)
          "
        />
        <div
          class="invalid-feedback"
          *ngIf="this.brandForm.get('name')?.hasError('required')"
        >
          Required
        </div>
      </div>
      <div class="col-12">
        <label class="form-label" for="description">Description</label>
        <textarea
          id="description"
          class="form-control"
          formControlName="description"
          rows="3"
          [class.is-invalid]="
            this.brandForm.get('description')?.invalid &&
            (this.brandForm.get('description')?.dirty ||
              this.brandForm.get('description')?.touched)
          "
        ></textarea>
        <div
          class="invalid-feedback"
          *ngIf="this.brandForm.get('description')?.hasError('required')"
        >
          Required
        </div>
      </div>
      <div class="col-12">
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="image" (change)="onFileSelect($event)">
        </div>
      </div>
      <div class="col-12 text-center">
        <button
          class="btn btn-success me-5"
          [disabled]="!brandForm.valid"
          (click)="modal.close('Submit click')"
          type="button"
        >
          Submit
        </button>
        <button
          class="btn btn-danger"
          (click)="modal.dismiss('Close click')"
          type="button"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Delete Modal -->
<ng-template #deleteModalData let-modal>
  <div class="modal-header">
    <h4 id="modal-basic-title" class="modal-title">Delete</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure?</p>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-success"
      (click)="modal.close('Delete click')"
      type="button"
    >
      Submit
    </button>
    <button
      class="btn btn-danger"
      (click)="modal.dismiss('Close click')"
      type="button"
    >
      Cancel
    </button>
  </div>
</ng-template>
